{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
</head>

<body>
<h1>Rango says...</h1>

<div>
    hey there partner!
</div>


<div>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
</div>

<div>
    <a href="/rango/about/">About Rango</a><br>
    <img src="{% static "img/rango.jpg" %}" alt="Picture of Rango">
</div>
</body>
</html>