<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ category.name }}</title>
</head>

<body>
<h1>{{ category.name }}</h1>
<div>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages currently in this category.</strong>
    {% endif %}
</div>

<div>
    <a href="/rango/category/{{ category.slug }}/add_page">Add a New Page</a>
</div>

<div>
    <a href="/">Index</a>
</div>
</body>
</html>
